<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
<title>Index</title>
</head>
<body>

	<div layout:fragment="content" class="container mySpace">
	     <form action="/index" class="form-inline">
	        <div class="form-group mb-2">
	         <input type="text" class="form-control" name="movie_name" placeholder="Search Movie" />
	         <input type="submit" value="Search"  class="btn btn-primary"/>
	        </div>
	     </form>
		<div class="card">
			<div class="card card-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th> </th>
							<th>Movie</th>
							<th>Release Year</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="movie:${movies}">
							<td><img height="82" width="82" th:src="@{${movie.image_url}}"/></td>
							<td><a th:href="@{'/movie/' + ${movie.name}}" th:text="${movie.name}" class="btn btn-dark"></a></td>
							<td th:text="${movie.release_year}"></td>
						</tr>
					</tbody>

				</table>
			</div>
		</div>
	
		<!--<a th:href="@{'/profile'}"  class="btn btn-dark">My Profile</a>-->
		
	</div>
</body>
</html>