<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
<title>SearchResult</title>
</head>
<body>

	<div layout:fragment="content" class="container mySpace">
	     <form action="/movie" class="form-inline">
	     </form>
		<div class="card">
			<div class="card card-body">
				<table class="table table-hover" th:each="movie:${movies}">
					<thead>
						<tr>
							<th> </th>
							<th style="text-align:center;">Movie Name</th>
							<th style="text-align:center;">Release Year</th>
							<th style="text-align:center;">Rating</th>
							<th style="text-align:center;">Tags</th>
						</tr>
					</thead>
					<tbody>
						<tr >
							<!--  <td><img th:src="${movie.image_url}"/></td>-->
							
							<td><img height="82" width="82" th:src="@{${movie.image_url}}"/></td>
							<td style="vertical-align:middle;text-align:center;" th:text="${movie.name}"></td>
							<td style="vertical-align:middle;text-align:center;" th:text="${movie.release_year}"></td>
							<td style="vertical-align:middle;text-align:center;" th:text="${rating}"></td>
							<td style="vertical-align:middle;text-align:center;"><div th:each="tag:${tags}">
									<ul >
									  <li th:text="${tag.name}"></li>
									</ul>
								</div>
							</td>
						</tr>
						<tr><td Colspan="5" style="vertical-align:middle;text-align:center;" th:text="${movie.description}"></td></tr>
						<tr><td Colspan="5" style="vertical-align:middle;text-align:center;" ><iframe width="560" height="315" th:src="@{${movie.trailer_url}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td></tr>
					</tbody>
				</table>
				
				
				</div>
				</div>
				<br>
				
				<div th:if="${isRated}" class="form-control-label">
			<h2>Movie already Rated</h2>
			</div>
	
	<div th:if="!${isRated}" class="form-control-label">
	
		<form th:action="@{/rate}" th:object="${movie}" method="post">
			<div class="form-group">
				<h3>Rate Here</h3> <input
					type="number" min="1" max="5" class="form-control" th:field="*{total_score}" id="total_score" />
				<div class="text text-danger" th:if="${#fields.hasErrors('total_score')}"
					th:errors="*{total_score}"></div>
			</div>
			<input type="submit" value="Submit" class="btn btn-primary" />
			</form>
			</div>
				
				<br>
				
			
			<div th:if="!${isFavourite}" class="form-control-label">
	
		<form th:action="@{/addToFavourites}" th:object="${movie}" method="post">
		
			<input type="submit" value="Add to Favourites" class="btn btn-primary" />
		
			</form>
			</div>
			
			<div th:if="${isFavourite}" class="form-control-label">
	
		<form th:action="@{/removeFromFavourites}" th:object="${movie}" method="post">
			
			<input type="submit" value="Remove from Favourites" class="btn btn-primary" />
		
			</form>
			</div>
			
			<br><br>
		<div class="card" th:each="r:${reviews}">
			<p th:inline="text" ><b>Username : </b>
			<a th:href="@{'/user/' + ${r.user_email}}" th:text="${r.user_email}"></a></p>
			<p th:inline="text" ><b>Review Date :</b> [[${r.review_date}]]</p>
			<p th:inline="text" ><b>Review  :</b> [[${r.review_body}]]</p>
	
	</div>
	<br>
		
						<h2>You can add a review below!</h2>
							<br>
							<form th:action="@{/addReview}" th:object="${review}" method="post">
							
							<div class="form-group">
				<label for="review_body" class="form-control-label"></label> <input
					type="text" class="form-control" th:field="*{review_body}" id="review_body" />
				<div class="text text-danger" th:if="${#fields.hasErrors('review_body')}"
					th:errors="*{review_body}"></div>
			</div>
			
			
			<input type="submit" value="Submit Review" class="btn btn-primary" />
		
			</form>
					
			<!-- Related Movies -->	
			<br><br>
			<div class="card">
			<div class="card card-body">
				<table class="table table-hover">
					<thead>
						<tr th:each="movie:${Relatedmovies}">
							<th th:text="${movie.name}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="movie:${Relatedmovies}">
							<td><img height="82" width="82" th:src="@{${movie.image_url}}"/></td>
						</tr>
					</tbody>
				</table>
				
				
				</div>
				</div>		
				
				<br><br>
      
			
	</div>
</body>
</html>