<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
<title>SearchResult</title>
</head>
<body>

	<div layout:fragment="content" class="container mySpace">
	     <form action="/movie" class="form-inline">
	     </form>
		<div class="card">
			<div class="card card-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Movie Name</th>
							<th>Release Year</th>
							<th>Image</th>
							<th>YT URL</th>
							<th>Rating</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="movie:${movies}">
							<td th:text="${movie.name}"></td>
							<td th:text="${movie.release_year}"></td>
							<td th:text="${movie.image_url}"></td>
							<td th:text="${movie.trailer_url}"></td>
							<td th:text="${rating}"></td>
						</tr>
					</tbody>

				</table>
				
				<div th:if="!${isRated}" layout:fragment="content" class="container mySpace">
	
		<form th:action="@{/rate}" th:object="${movie}" method="post">
		
			<div class="form-group">
				<label for="total_score" class="form-control-label">Rate Here</label> <input
					type="number" min="1" max="5" class="form-control" th:field="*{total_score}" id="total_score" />
				<div class="text text-danger" th:if="${#fields.hasErrors('total_score')}"
					th:errors="*{total_score}"></div>
			</div>
			
			<input type="submit" value="Submit" class="btn btn-primary" />
		
			</form>
			</div>
			<div th:if="${isRated}" layout:fragment="content" class="container mySpace">Movie already Rated</div>
			
			</div>
		</div>
	</div>
</body>
</html>