<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
<title>SearchResult</title>
</head>
<body>

	<div layout:fragment="content" class="container mySpace">
	     <form action="/movie" class="form-inline">
	     </form>
		<div class="card">
			<div class="card card-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th> </th>
							<th>Movie Name</th>
							<th>Release Year</th>
							<th>Rating</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="movie:${movies}">
							<!--  <td><img th:src="${movie.image_url}"/></td>-->
							
							<td><img height="82" width="82" th:src="@{${movie.image_url}}"/></td>
							<td th:text="${movie.name}"></td>
							<td th:text="${movie.release_year}"></td>
							<td th:text="${rating}"></td>
						</tr>
					</tbody>
				</table>
				
				
				</div>
				</div>
				
				<br>
				<div th:each="tag:${tags}">
					<ul>
					  <li th:text="${tag.name}"><h2></h2></li>
					</ul>
				</div>
				<br>
				
				<br>
				<div th:each="movie:${movies}">
				<iframe width="560" height="315" th:src="@{${movie.trailer_url}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<br>
	
	<div th:if="${isRated}" class="form-control-label">
			Movie already Rated
			</div>
	
	<div th:if="!${isRated}" class="form-control-label">
	
		<form th:action="@{/rate}" th:object="${movie}" method="post">
			<div class="form-group">
				<label for="total_score" class="form-control-label">Rate Here</label> <input
					type="number" min="1" max="5" class="form-control" th:field="*{total_score}" id="total_score" />
				<div class="text text-danger" th:if="${#fields.hasErrors('total_score')}"
					th:errors="*{total_score}"></div>
			</div>
			<input type="submit" value="Submit" class="btn btn-primary" />
			</form>
			</div>
			
			<div th:if="!${isFavourite}" class="form-control-label">
	
		<form th:action="@{/addToFavourites}" th:object="${movie}" method="post">
		
			<input type="submit" value="Add to Favourites" class="btn btn-primary" />
		
			</form>
			</div>
			
			<div th:if="${isFavourite}" class="form-control-label">
	
		<form th:action="@{/removeFromFavourites}" th:object="${movie}" method="post">
			
			<input type="submit" value="Remove from Favourites" class="btn btn-primary" />
		
			</form>
			</div>
			
		<div class="form-control-label" th:each="r:${reviews}">
			<p th:inline="text" >Username : 
			<a th:href="@{'/user/' + ${r.user_email}}" th:text="${r.user_email}"></a></p>
			<p th:inline="text" >Review Date : [[${r.review_date}]]</p>
			<p th:inline="text" >Review  : [[${r.review_body}]]</p>
	
	</div>
		
						
							
							<form th:action="@{/addReview}" th:object="${review}" method="post">
							
							<div class="form-group">
				<label for="review_body" class="form-control-label"></label> <input
					type="text" class="form-control" th:field="*{review_body}" id="review_body" />
				<div class="text text-danger" th:if="${#fields.hasErrors('review_body')}"
					th:errors="*{review_body}"></div>
			</div>
			
			
			<input type="submit" value="Submit Review" class="btn btn-primary" />
		
			</form>
					
			<!-- Related Movies -->	
			<div class="card">
			<div class="card card-body">
				<table class="table table-hover">
					<thead>
						<tr th:each="movie:${Relatedmovies}">
							<th th:text="${movie.name}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="movie:${Relatedmovies}">
							<td><img height="82" width="82" th:src="@{${movie.image_url}}"/></td>
						</tr>
					</tbody>
				</table>
				
				
				</div>
				</div>		
      
			
	</div>
</body>
</html>