<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
<meta charset="ISO-8859-1">
<title>My Profile</title>
</head>
<body>



<div >
			
				<table >
					<thead>
						<tr>
							<th>Release Year</th>
							<th>Movie</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="m:${profilemovies}">
							<td th:text="${m.release_year}"></td>
							<td><a th:href="@{'/movie/' + ${m.name}}" th:text="${m.name}" class="btn btn-dark"></a></td>
							<td><form th:action="@{/removeFromFavouritesPR}" method="post">
							<input type="hidden" name="movie_id" id="movie_id" th:value="${m.movie_id}" />
			
			<input type="submit" value="Remove from Favourites" class="btn btn-primary" />
		
			</form></td>
						</tr>
					</tbody>
					
					

				</table>
			
		</div>
		
		<div layout:fragment="content" class="container mySpace" th:each="u:${userinfo}">
		
		
						<p th:inline="text" >Username : [[${u.username}]]</p>
							
							<form th:action="@{/editProfile}" method="post">
							
							<div class="form-group">
				<label for="name" class="form-control-label">Name</label> <input
					type="text" class="form-control" th:field="*{userinfo.name}" id="name" />
				<div class="text text-danger" th:if="${#fields.hasErrors('userinfo.name')}"
					th:errors="*{userinfo.name}"></div>
			</div>
			
			<div class="form-group">
				<label for="surname" class="form-control-label">Surname</label> <input
					type="text" class="form-control" th:field="*{userinfo.surname}" id="surname" />
				<div class="text text-danger" th:if="${#fields.hasErrors('userinfo.surname')}"
					th:errors="*{userinfo.surname}"></div>
			</div>
			
			<div class="form-group">
				<label for="age" class="form-control-label">Age</label> <input
					type="number" class="form-control" th:field="*{userinfo.age}" id="age" min="12" max="99"/>
				<div class="text text-danger" th:if="${#fields.hasErrors('userinfo.age')}"
					th:errors="*{userinfo.age}"></div>
			</div>
			
			<div class="form-group">
				<label for="gender" class="form-control-label">Gender</label> <select
					 class="form-control" name="gender" id="gender" >
					 <option th:value="Male" th:selected="${userinfo.gender=='Male'}">Male</option><option th:value="Female" th:selected="${userinfo.gender=='Female'}">Female</option></select>
				<div class="text text-danger" th:if="${#fields.hasErrors('userinfo.age')}"
					th:errors="*{userinfo.age}"></div>
			</div>
			
			
			
			<input type="submit" value="Update Profile" class="btn btn-primary" />
		
			</form>
					
     <h2>Reviews</h2>
     <div th:each="r:${reviews}"  style="visibility: visible; opacity: 1;">
        <img  th:src="@{${r.image_url}}"/>
        <h3>[[${r.name}]]
        <span>[[${r.release_year}]]</span></h3>
        <p>[[${r.description}]]</p>
        </div>
					
</div>
</body>
</html>